<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="BCCConnectionString" connectionString="[YOUR_DATABASE_CONNECTION_STRING]" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime enableVersionHeader="false"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebHook.Service">
        <!-- Remove this endpoint if no need http channel -->
        <!--<endpoint name="jsonEP" address="" binding="webHttpBinding" behaviorConfiguration="json" bindingConfiguration="WebHttpBindingConfig" contract="WebHook.IService"/>-->
        <endpoint name="jsonSecureEP" address="" binding="webHttpBinding" behaviorConfiguration="json" bindingConfiguration="WebHttpsBindingConfig" contract="WebHook.IService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBindingConfig" maxReceivedMessageSize="5483647">
          <security mode="None"/>
        </binding>
        <binding name="WebHttpsBindingConfig" maxReceivedMessageSize="5483647">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>